# Dependencies
node_modules/
__pycache__/
*.pyc

# Build
.next/
out/

# Environment
.env
.env.dev
.env.local

# Database
*.db

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
dist/
build/
